<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-xs-offset-6">
      <h1>Испытание на центрифуге</h1>
      <p>Расчет основных параметров при испытании на воздействие линейного ускорения</p>
    </div>
  </div>

  <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-xs-offset-8 col-lg-2 col-md-3 col-sm-3 col-xs-6">
    <div class="form-group">
      <label for="radius">Радиус</label>
      <input type="number" step="0.01" class="form-control" id="radius" placeholder="Введите радиус"
             ([ngModel])="radius">
    </div>
    <div class="form-group">
      <label for="frequency">Частота</label>
      <input type="number" step="0.01" class="form-control" id="frequency" placeholder="Частота"
             ([ngModel])="frequency">
    </div>
    <div class="form-group">
      <label for="acceleration">Перегрузка</label>
      <input type="number" step="0.01" class="form-control" id="acceleration" placeholder="Перегрузка"
             ([ngModel])="acceleration">
    </div>
    <p>
      {{frequency}}
    </p>
    <button type=button class="btn btn-success right" (click)=execute()>Посчитать</button>
  </div>


</div>
